[Desktop Entry]
Name=jalbum
Comment=free web photo album software and photo gallery software
Exec=jalbum
Icon=jalbum.png
Terminal=false
Type=Application
Categories=Application;Graphics;
