[Unit]
Description=SABnzbd binary newsreader
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c "python2 /opt/sabnzbd/SABnzbd.py"
#ExecStop=/usr/bin/curl -f "http://127.0.0.1:1027/shutdown?session=${SABNZBD_KEY}" # replace sabnzbd key with your api key
User=sabnzbd
Group=sabnzbd

[Install]
WantedBy=multi-user.target
