[KdmGreeterTheme]
Greeter=archpaint2-169.xml
Name=ArchPaint 2 16/9
Description=Kdm Login based on archpaint2 wallpapr
Author=BlackEagle
Copyright=GPL
Screenshot=screenshot.png

